nav > ul {
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* jika layar >= 768px → mendatar */
@media screen and (min-width: 768px) {
  nav > ul {
    display: inline-block;
    width: 500px;
  }

  li {
    display: inline-block;
    padding: 20px;
  }
}

/* jika layar >= 1024px → tetap mendatar (bisa tambah gaya lain) */
@media screen and (min-width: 1024px) {
  nav > ul {
    display: block;
  }
  li {
    display: block;
  }
}
